* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;

}
.container {
    background-color: yellow;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}
.navigation {
    background-color: tomato;
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    
}
.content {
    background-color: red;
    display: flex;
    height: 750px;
}
.left-side {
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}
.left-side-top {
    background-color: blueviolet;
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
}
.left-side-bottom {
    background-color: chocolate;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.main {
    background-color: saddlebrown;
    flex: 1;
}
.cards {
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: space-around;
    flex-basis: 30%;
    height: 200px;
}
.card {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 20px;
}
.boxes {
    display: flex;
    justify-content: space-around;
    background-color: cyan;
    height: 250px;
}
.box {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 15%;
    background-color: darkgoldenrod;
    margin: 10px auto;
    border-radius: 15px;
}
.images {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.image {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 10px auto;
}
.image img {
    border-radius: 30px;
    width: 170px;
}